body {
  background: rgba(239, 183, 238, 0.3); /* Lila background with 10% opacity */
  font-size: 1rem;
  color: #2c3e50;
  background-color: #f4f4f4;
  padding: 2rem 1rem;
  text-align: center;
}

header {
  background-image: linear-gradient(to right, rgba(239, 139, 243, 0), rgb(239, 172, 172));
  color: rgb(38, 2, 33);
  padding: 3rem 2rem;
  margin-bottom: 2rem;
  border-radius: 10px
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

a {
  color: #3c0f37;
  text-decoration: none;
}

a:hover {
  color: #2980b9;
}

main {
  margin: auto 5%;
  text-align: left;
}

section {
  margin-bottom: 2.5rem;
  background-color: #f8f8f8; /* Fondo gris claro */
  padding: 2rem; /* Aumentar el padding para mejor visualización */
  border-radius: 8px; /* Mantener bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Mantener sombra */
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #34495e;
}

/* Estilos del formulario */
form {
  width: 100%;
}

input, textarea {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
}

button {
  width: 100%;
  padding: 1rem;
  background-color: #400344;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}

button:hover {
  background-color: #400344;
}

footer {
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #777;
}


/* Estilos específicos para la sección de Certificados */
section.certificados {
  background-color: #f8f8f8;
  padding: 2rem;
  border-radius: 8px;
  margin-bottom: 2.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section.certificados h4,
section.certificados h5,
section.certificados h6 {
  color: #333;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

section.certificados p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 1rem;
  font-size: 1rem; /* Reducir el tamaño de la fuente a 0.9rem */
}

section.certificados i.fa-graduation-cap {
  color: #34495e;
  margin-right: 0.5rem;
}

section.certificados h4 {
  font-size: 1.5rem;
}

section.certificados h5 {
  font-size: 1.1rem;
}

section.certificados h6 {
  font-size: 1.1rem;
}